<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/courses/index.css" />
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
  <h1>All Courses</h1>
  <table>
    <thead>
      <tr>
        <th>Owner</th>
        <th>Name</th>
        <th>Holes</th>
        <th>Par</th>
      </tr>
    </thead>
    <tbody>
      <% courses.forEach(course => { %>
        <tr>
          <td><%= course.owner.name %> </td>
          <td><%= course.name %></td>
          <td><%= course.holes %></td>
          <td><%= course.par %> </td>
          <td><a href="/courses/<%= course._id %>"><button>Details</button></a></td>
          <td><a href="/courses/<%= course._id %>/edit"><button>Edit</button></a></a>

          </td>
          <% }) %>
          <td>
          </td>
        </tr>
      </tbody>
  </table>
  <% } %>
</main>
