<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('./partials/nav') %>

<main>
  <h1>Welcome, <%= user ? user.profile.name : "Your Disc Golf Journey Starts Here. Sign in above" %></h1>
  <div class="golf-banner">
    <img src="images/golf/targets-header.jpeg" alt="golf" id="image">
      <% if (user?.profile.name) { %>
        <div>
          <img
          alt="<%= user.profile.name %> "
          />
        </div>
        <% } %>
      </div>
  </div>
  </main>
  
  <%- include('./partials/footer') %>
